.material-icons.md-18 {
	font-size: 18px;
}
.material-icons.md-24 {
	font-size: 24px;
}
.material-icons.md-30 {
	font-size: 30px;
}
.material-icons.md-36 {
	font-size: 36px;
}
.material-icons.md-48 {
	font-size: 48px;
}
.material-icons.md-54 {
	font-size: 54px;
}
.material-icons.md-66 {
	font-size: 66px;
}
.material-icons.md-78 {
	font-size: 78px;
}
