<p-table
  #dt
  dataKey="id"
  [value]="list"
  [columns]="columns"
  [paginator]="true"
  [showPageLinks]="isMobile ? false : true"
  [paginatorPosition]="isMobile ? 'both' : 'bottom'"
  [showCurrentPageReport]="true"
  [currentPageReportTemplate]="
    isMobile
      ? '{first}-{last}/{totalRecords}'
      : '{first} à {last} sur {totalRecords}'
  "
  [rows]="10"
  [filterDelay]="0"
  [globalFilterFields]="globalFilterFields"
  selectionMode="single"
  styleClass="p-datatable-sm p-datatable-gridlines responsive-datatable"
  (onRowSelect)="rowSelected.emit($event)"
>
  <ng-template pTemplate="caption">
    <div class="table-header">
      <!-- Columns selection -->
      <p-multiSelect
        optionLabel="header"
        [(ngModel)]="columns"
        [options]="localColumns"
        [style]="{ minWidth: '200px' }"
        placeholder="Colonnes à afficher"
        selectedItemsLabel="{0} Colonnes sélectionnées"
      ></p-multiSelect>
      <!-- Global search -->
      <span class="p-input-icon-left">
        <i class="pi pi-search" aria-hidden="true"></i>
        <input
          pInputText
          type="text"
          placeholder="Chercher"
          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th
        scope="col"
        pResizableColumn
        *ngFor="let col of columns"
        [pSortableColumn]="col.field"
        [ngStyle]="{
          width:
            col.field === 'actions'
              ? '11rem'
              : col.field === 'id'
              ? '5rem'
              : 'unset'
        }"
      >
        {{ col.header }}
        <ng-container *ngIf="col.field !== 'actions'">
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </ng-container>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
    <tr [pSelectableRow]="item" [pSelectableRowIndex]="rowIndex">
      <td
        *ngFor="let col of columns"
        [ngClass]="{
          'center-content': col.field === 'deleted' || col.field === 'isEnabled'
        }"
      >
        <!-- Non-Actions fields -->
        <ng-container *ngIf="col.field !== 'actions'">
          <!-- createdAt/updatedAt fields -->
          <ng-container
            *ngIf="col.field === 'createdAt' || col.field === 'modifiedAt'"
          >
            <ng-container *ngIf="isMobile">
              <span class="p-column-title">{{ col.header }}</span>
            </ng-container>
            <span>{{ item[col.field] | date: "EEE d MMM y" }}</span>
          </ng-container>
          <!-- deleted field -->
          <ng-container *ngIf="col.field === 'deleted'">
            <span
              [ngClass]="{
                'item-deleted': item[col.field],
                'item-not-deleted': !item[col.field]
              }"
            >
              <ng-container *ngIf="item[col.field]">
                <i
                  aria-hidden="true"
                  pTooltip="N'est pas actif"
                  tooltipPosition="bottom"
                  class="pi pi-ban material-icons md-24"
                ></i>
              </ng-container>
              <ng-container *ngIf="!item[col.field]">
                <i
                  pTooltip="Actif"
                  aria-hidden="true"
                  tooltipPosition="bottom"
                  class="pi pi-check-circle material-icons md-24"
                ></i>
              </ng-container>
            </span>
          </ng-container>
          <!-- is_enabled field -->
          <ng-container *ngIf="col.field === 'isEnabled'">
            <span
              [ngClass]="{
                'item-enabled': !item[col.field],
                'item-disabled': item[col.field]
              }"
            >
              <ng-container *ngIf="!item[col.field]">
                <i
                  aria-hidden="true"
                  pTooltip="N'est pas actif"
                  tooltipPosition="bottom"
                  class="pi pi-ban material-icons md-24"
                ></i>
              </ng-container>
              <ng-container *ngIf="item[col.field]">
                <i
                  pTooltip="Actif"
                  aria-hidden="true"
                  tooltipPosition="bottom"
                  class="pi pi-check-circle material-icons md-24"
                ></i>
              </ng-container>
            </span>
          </ng-container>
          <!-- Other fields -->
          <ng-container
            *ngIf="
              col.field !== 'createdAt' &&
              col.field !== 'modifiedAt' &&
              col.field !== 'deleted' &&
              col.field !== 'none' &&
              col.field !== 'isEnabled'
            "
          >
            <ng-container *ngIf="isMobile">
              <span class="p-column-title">{{ col.header }}</span>
            </ng-container>
            <ng-container *ngIfWithNotAvailable="item[col.field]">{{
              item[col.field]
            }}</ng-container>
          </ng-container>
        </ng-container>
        <!-- Actions fields -->
        <ng-container *ngIf="col.field === 'actions'">
          <div class="btn-wrapper">
            <ng-container *ngIf="config.displayModifyBtn">
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                tooltipPosition="bottom"
                [pTooltip]="config.modifyBtnToolTip"
                class="p-button-rounded p-button-outlined p-button-info"
                (click)="modify.emit(item)"
              ></button>
            </ng-container>

            <ng-container *ngIf="config.displaySoftDeleteBtn">
              <button
                pButton
                pRipple
                icon="pi pi-times"
                tooltipPosition="bottom"
                [disabled]="item['deleted']"
                [pTooltip]="config.softDeleteBtnToolTip"
                class="p-button-rounded p-button-outlined p-button-warning"
                (click)="softDelete.emit(item)"
              ></button>
            </ng-container>

            <ng-container *ngIf="config.displayHardDeleteBtn">
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                tooltipPosition="bottom"
                [pTooltip]="config.hardDeleteBtnToolTip"
                class="p-button-rounded p-button-outlined p-button-danger"
                (click)="hardDelete.emit(item)"
              ></button>
            </ng-container>

            <ng-container *ngIf="config.displayUndeleteBtn">
              <button
                pButton
                pRipple
                icon="pi pi-replay"
                tooltipPosition="bottom"
                [disabled]="!item['deleted']"
                [pTooltip]="config.undeleteBtnToolTip"
                class="p-button-rounded p-button-outlined p-button-success"
                (click)="undelete.emit(item)"
              ></button>
            </ng-container>
          </div>
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>
