@import '/src/assets/scss/variables.scss';

::ng-deep {
	.p-checkbox .p-checkbox-box.p-highlight {
		border-color: $secondary-color;
		background-color: $primary-color;
	}

	.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
		border-color: $secondary-color;
		background-color: $secondary-color;
	}

	.p-checkbox .p-checkbox-box:not(.p-disabled).p-focus {
		border-color: $secondary-color;
		box-shadow: inset 0 0 0 1px $secondary-color;
	}
}
